[defaults]
inventory = ./inventory/azure_rm.yml
remote_user = azureuser
private_key_file = ~/.ssh/ansible_project3
host_key_checking = False
roles_path = ./roles
collections_path = ~/.ansible/collections
stdout_callback = yaml
callbacks_enabled = timer, profile_tasks
interpreter_python = auto_silent
retry_files_enabled = False
system_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no
